<form method="post" action="/menu/save">
    <div class="container-fluid">
        <input type="hidden" name="isCreate"
               value="{{#if isCreate}}create{{else}}update{{/if}}"/>

        <div class="form-group row justify-content-center mt-2">
            <div class="col-2 text-right font-weight-bold ">
                <label class="col-form-label" for="item">Item: </label>
            </div>
            <div class="row-cols-lg-1 col-7">
                <input class="form-control" type="text" name="item"/><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center mt-2">
            <div class="col-2 text-right font-weight-bold">
                <label class="col-form-label" for="description">Description:  </label>
            </div>
            <div class="row-cols-lg-2 col-7">
                <textarea class="col-sm-6" rows=5 name="description"></textarea><br/>
            </div>
        </div>

        <div class="form-group row justify-content-center mt-2">
            <div class="col-2 text-right font-weight-bold ">
                <label class="col-form-label" for="price">Price: </label>
            </div>
            <div class="row-cols-lg-1 col-7">
                <input class="form-control" type="text" name="price"/><br/>
            </div>
        </div>

        <div class="form-group justify-content-center mt-2">

            <input class="btn center btn-outline-dark col-sm-3" type="submit" value="Submit"/>

        </div>

    </div>
</form>
