<br/><p class="center" align="center"> Please review your order  </p><br/>
<div class="container-fluid">
    <div class="align-content-center">
        <div>

        <p class="center" align="center"> Item: {{menuTitle}}</p>
            <p class="center" align="center"> Price: {{menuPrice}}</p>

    </div>
        <p>
            <a class="col-6 col-md-2" href="/menu/destroy?id={{menuId}}"><span class="btn center btn-outline-dark col-3">Delete</span></a>
            <a class="col-6 col-md-2" href="/menu/edit?id={{menuId}}"><span class="btn center btn-outline-dark col-3">Edit</span></a>
        </p>
</div>

</div>